:root {
  --primary-color: #802121;
  --hover-color: #651a19;
}

.navbar{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.border-primary-red {
  border-color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
} 

/* .myprimarybg {
    background-color: #802121; /* !important; Use !important to override the default 
  }

  .myprimarybtn {
    background-color: #802121;
    border-color: red;
  }
  
  .myprimarybtn:hover {
    background-color: lightcoral;
    border-color: lightcoral;
  } */